<!DOCTYPE html>
<html lang="en" ng-app="myApp" style="background: none">
<head>
    <meta charset="UTF-8">
    <title>文件上传</title>
    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../bower_components/artDialog/css/ui-dialog.css">
    <link rel="stylesheet" href="../../bower_components/bootstrap-datepicker/css/datepicker.css">
    <link rel="stylesheet" href="../../assets/style/index.css"/>
    <link rel="stylesheet" href="../../assets/style/defaultStyle.css" id="scriptTheme"/>
</head>
<body ng-controller="dataPickerController" style="background: none">
<div style="margin: 10px;padding: 10px; height: 200px">

</div>
</body>
<script type="text/javascript" src="../../bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="../../bower_components/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js" ></script>
<script type="text/javascript" src="../../bower_components/angular/angular.js"></script>
<script type="text/javascript" src="../../bower_components/angular-translate/angular-translate.js"></script>
<script type="text/javascript" src="../../bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
<script type="text/javascript" src="../../bower_components/angular-messages/angular-messages.js"></script>
<script type="text/javascript" src="../../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script type="text/javascript" src="../../bower_components/angular-bootstrap/ui-bootstrap.js"></script>
<script type="text/javascript" src="../../bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
<script type="text/javascript" src="../../bower_components/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
<script type="text/javascript" src="../../bower_components/artDialog/dist/dialog.js"></script>
<script type="text/javascript" src="../../bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

<script type="text/javascript" src="../../static/style/bootstrap-modal/js/bootstrap-modal.js"></script>
<script type="text/javascript" src="../../static/style/bootstrap-modal/js/bootstrap-modalmanager.js"></script>
<script type="text/javascript" src="../../static/style/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js"></script>
<script type="text/javascript" src="../../static/scripts/commonDictionary.js"></script>
<script type="text/javascript" src="../../assets/scripts/scripts.js"></script>
<script type="text/javascript" src="../../static/scripts/myUtils.js"></script>
<script type="text/javascript" src="../../static/scripts/basePath.js"></script>
<script type="text/javascript" src="../../components/08-fileuploader/js/app.js"></script>
<script type="text/javascript" src="../../components/06-notification/notification.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/date.picker.diretive.js"></script>
</html>