<div>
    <!--左边菜单-->
    <div class="main-right">
        <div class="main-right-top">
            <div class="user-header">
                <div class="user-header-img">
                    <img ng-show="user.headUrl" ng-src="../../fileManger/getUserHeadUrl?fastDFSId={{user.headUrl}}&userId={{user.id}}">
                </div>
            </div>
            <div class="user-name">似水流年</div>
            <div class="user-infor">
                <div class="user-info-style">
                    <div class="box-top">
                        100
                    </div>
                    <div class="box-buttom">
                        简讯
                    </div>
                </div>
                <div class="user-info-style">
                    <div class="box-top">
                        100
                    </div>
                    <div class="box-buttom">
                        故事
                    </div>
                </div>
                <div class="user-info-style" style="border: none">
                    <div class="box-top">
                        100
                    </div>
                    <div class="box-buttom">
                        记忆
                    </div>
                </div>
            </div>
        </div>
        <div class="main-right-hot">
            <div class="main-right-hot-contai">
                <div class="title">
                    <div>好久不见</div>
                </div>
            </div>
        </div>
    </div>
</div>